.modal--list {
    width: 100%;
    height: auto;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.modal--list .modal--row {
    width: 100%;
    height: 50px;
    list-style: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: #21334f;
    justify-content: start;
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
      border-radius: 5px;
    padding: 0.3rem 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.modal--list .modal--row:hover {
    /* background-color: #0d3108; */
      /* color: #fff;     */
    cursor: pointer;
}

.modal--row #icon {
    /* flex: 40%; */
    display: grid;
    place-items: center;
}