.topdash{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid red; */
    /* border-top: -34rem; */
    width: 87%;
    height: 15%;
    margin: auto;
    position: relative;
    /* padding-left: 10%;
    padding-right: 10%; */
    /* border: 3px solid red; */
    width: 100%;
    height: 15%;
    margin: auto;
    position: relative;
    /* padding-left: 10%;
    padding-right: 10%; */
    /* margin: 1.5rem; */
    box-sizing: border-box;
}
.top-button{
    font-family: "Inter";
    color: red;

}